

@media (max-width: 319px) { /* no mobile phone has less than 320px */
  body {
    border: 1px solid orange;
  }
} /* end @media (max-width: 319px) */




/* VIDEO AND TEXT SECTION */
.videos {
  /*border: 1px solid red;*/ 
  width: 90%;
  margin: 2em auto 3em auto;
}
.video-and-text {
  /*border: 1px solid red;*/ 
  margin: 1.75em auto;
}
.video-itself li {
  max-width: 30em; 
  margin: 0 auto;
}
.video-description li {
  max-width: 30em; 
  margin: 0 auto;
  margin: 0.5em auto 0em auto;
}
.video-description li:first-child {
	margin: 0.75em auto 0em auto;
}
@media (min-width: 1150px) {
	.video-and-text li {
		display: inline-block;
	}
	.video-description li {
	    display: block;
	}
	.video-description li:first-child {
		margin: 1.2em auto 0em auto;
	}
}
/* VIDEO p (paragraph) */
.video-description p {
  margin: 0.5em auto 0.5em auto;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}
@media (min-width: 1150px) {
	.video-description p {
		display: inline-block;
		margin: 0.5em auto 0.5em 1.5em;
		font-size: 1em;
		line-height: 1.4em;
		text-align: left;
	}
}
/* VIDEO h3 */
.video-description h3 {
	margin: 0em auto;
}


/* start "same as in press-release.html"
*************************************/ 
.video-itself .trailer-frame {
  min-height: 19em;
  max-width: 30em;
  width: 100%; /* originally 95% */
  margin: 0.5em auto 0em auto;
}
@media (min-width: 900px) {
  .video-itself .trailer-frame {
    width: 30em;
  } 
}
/* end "same as in press-release.html"
*************************************/ 




/* start "same as in press-release.html"
*************************************/ 
/* MEDIA ROOM FILM STILLS & CAST */
.tg {
  width: 80%;
  margin: 0 auto 3em auto; /* originally 1em */
}
.cast-image {
    width: 90%;
    max-width: 30em;
}
/* MEDIA ROOM FILM STILLS */
.film-stills .tg-yw4l {
    margin: 1em auto 0em auto;
    display: block;
    width: 90%;
}
@media (min-width: 1150px) {
  .film-stills .tr li  { /* = CAST IMAGES name */
      display: inline-block;
      width: 33%;
  }
}
/* end "same as in press-release.html"
*************************************/ 