


.cast-content {
  margin: 0 auto 3em auto;
}


/* same as for the press-release.html page */
/* MEDIA ROOM FILM STILLS & CAST */
.tg {
  width: 80%;
  margin: 0 auto;
}
.cast-image {
    width: 90%;
    max-width: 30em;
}
/* MEDIA ROOM CAST IMAGES */
.cast .tg-yw4l { /* CAST IMAGES name & pic block */
  margin: 1em auto 0em auto;
  display: block;
  width: 90%; 
}
.cast h4 { /* CAST IMAGES name */
  font-size: 1em;
  max-width: 10em;
  margin: 1em auto 0em auto;
}
@media (min-width: 1150px) {
  .cast .tr li  { /* CAST IMAGES name */
      display: inline-block;
      width: 33%;
  }
}
