/* CONTACT PAGE ONLY
**************************************************************************/
.contact-details {
  margin-bottom: 3em;
}
/* other */
.contact-person {
  margin: 2em auto;
}
.contact-person li,
.right li {
  display: block;
}
.right p {
  font-size: 1em;
  line-height: 1.6em;
}
@media (min-width: 710px) {  
  .contact-person li {
    display: inline-block;
  }  
  .right li {
    display: block;
  }
  .right {
    margin: 0.8em 0 0 0.25em;
    width: 24em;
  }
}
/* profile image */
.profile-image {
  width: 3em;
}
@media (min-width: 493px) {
  .profile-image {
    width: 7em;
  }
}
/* email-image */
.email-image {
  width: 15em;  
}