/* TABLE OF CONTENTS
**************************************************************************/
/*** ALL PAGES, ALL SCREEN SIZES
(watch.html, testimonials.html, press-release.html, behind-the-scenes.html, cast.html, contact.html)
  /* Apply a natural box layout model to all elements
  /* Fix the clearing of floats on child elements
  /* FONTS
  /* ALL LINKS
  /* OTHER GENERAL
  /* FOOTER
/*** SOME PAGES, ALL SCREEN SIZES
  /* HEADER + MENU (5x: testimonials.html, press-release.html, behind-the-scenes.html, cast.html, contact.html)
  /* PAGE MENU 
  /* VIDEO-ICONS (6x)
  /* IMDB ICON (6x)
  /* PAGE MENU (4x: watch.html, testimonials.html, press-release.html, behind-the-scenes.html)
  /* ABOUT
  /* GO TO TOP BUTTON
/* END TABLE OF CONTENTS
**************************************************************************/



/*** ALL PAGES, ALL SCREEN SIZES
**************************************************************************/

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}
/* Fix the clearing of floats on child elements */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* FONTS */
@font-face {
    font-family: KozGoPro-ExtraLight;
    src: url("../fonts/kozuka_gothic_pro_el/KozGoPro-ExtraLight.otf");
}
body {
	font-family: KozGoPro-ExtraLight;
	color: #DBC9BF;
	text-align: center;
}

/* ALL TITLES */
h1 { /* "Hold Me" title in press-release; page titles */
  font-size: 1.9em;
  margin-top: 1em;
}
h2 { /* "Press Release" title */
  font-size: 1.3em;
  margin-top: 0.25em;
}

h3 { /* "Logline" "Film Stills" etc. subsection */
  margin: 1.9em auto 0em auto;
  font-size: 1.1em;
  line-height: 1.1em;
  max-width: 75%;
}
@media (min-width: 493px) {
  h3 {
    font-size: 1.4em;
    line-height: 1.4em;
  } 
}

h4 { /* "Download" */
  font-size: 0.9em;
  line-height: 0.9em;
  margin-top: 0.25em; 
}
h5 { /* "Download with images" */
  font-size: 0.5em; 
  margin-top: 0.25em;
  margin-bottom: 2em;
}

/* ALL p (paragraphs) */
/* in div .about and not in div .footer */
.about {
  width: 90%;
  margin: 0 auto;
}
.about p {
  margin: 0.5em auto 0.5em auto;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}
.about a {  
  font-style: italic;
  letter-spacing: 0.14em;
}
@media (min-width: 493px) {
  .about p {
    margin: 1.5em auto 1.5em auto;
    font-size: 1.2em;
    line-height: 1.5em;    
    max-width: 25em;
  } 
}
@media (min-width: 920px) {
  .about p {
    margin: 2.5em auto 2.5em auto;
    line-height: 1.6em;
    max-width: 28em;
  }
}
/* in div .intro */
.intro {
  width: 90%;
  margin: 0 auto;
}
.intro p {
  margin: 0.5em auto 1em auto;
  font-size: 1.2em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}
@media (min-width: 493px) {
  .intro p {
    max-width: 27em;
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 1em auto 2em auto;
  } 
}
@media (min-width: 920px) {
  .intro p {
    line-height: 1.6em;
  }
}

/* ALL LINKS */
a {
	color:#DBC9BF;
	text-decoration: none;
}
a:hover {
	color: #8E8683;
}
.fa-bars {
  color:#DBC9BF;
  text-decoration: none;
}
.fa-bars:hover {
  color: #8E8683;
}
.buy-movie-buttons a {
	color: #785996; /* #6496c8 */
	border: solid 5px #785996; /* 5px #6496c8 */
}
.buy-movie-buttons a:hover {
	color: #ab8cc9; /* #6496c8 */
	border: solid 5px #ab8cc9; /* 5px #6496c8 */
}
.buy-soundtrack-buttons a {
	color: #785996; /* #6496c8 */
	border: solid 5px #785996; /* 5px #6496c8 */
}
.buy-soundtrack-buttons a:hover {
	color: #ab8cc9; /* #6496c8 */
	border: solid 5px #ab8cc9; /* 5px #6496c8 */
}
.watch {
  color: #785996; /* #6496c8 */
  border: solid 5px #785996; /* 5px #6496c8 */
}
.watch:hover {
  color: #ab8cc9; /* #6496c8 */
  border: solid 5px #ab8cc9; /* 5px #6496c8 */
}
.watch a {
  color: #785996; /* #6496c8 */
}
.watch a:hover {
  color: #ab8cc9; /* #6496c8 */
}

/* OTHER GENERAL */
body { /* picture background */
	background: url("../images/hold-me-poster-clean.jpg") no-repeat fixed;
    background-size: cover;
}
.content-wrap { /* grey background */
	margin: 5%;
	background: rgba(0, 0, 0, 0.7); /* grey */
	border: 1px solid #171819;
}
@media (min-width: 1155px) { /* center 1,2,3 */
	.content-wrap { /* grey background */
		margin-top: 1em;
		margin-bottom: 2.5em;
	}
}


/* FOOTER */
.footer {
	line-height: 1em;
	letter-spacing: 0.055em;
}
.social-media-icons {
	margin-top: 1em;
	font-size: 2em;
}
.social-media-icons li {	
    display: inline-block; 
    margin: auto 0.05em auto 0.05em;
}
.footer-menu li {
    display: inline-block; 
    margin: 1em auto 1em auto;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
.footer-menu li:first-child {
	margin-right: 1.75em;
}
.footer p {
  margin-top: 0.8em;
  font-size: 0.4em;
}
.footer .bigger {
	margin-top: 1em;
	font-size: 0.65em;
}
@media (min-width: 400px) {
	.social-media-icons li {
   		margin: auto 0.38em auto 0.38em;
	}
	.footer-menu li { 
	    margin: 2em 2.44em 1em 2.44em;
	    font-size: 1.3em;
	}
	.footer .bigger {
		font-size: 0.75em;
	}
	.footer p {
	  margin-top: 1.3em;
	}
	.footer {
		margin: 1.5em auto 1.5em auto;
	}
}

/*** SOME PAGES, ALL SCREEN SIZES
**************************************************************************/
/* HEADER  li's */
.header > li {
  display: block;  
}
/* HEADER  title */
.header .title a {  
  font-size: 2.3em;
  line-height: 2.3em;
  letter-spacing: 0.05em;  
}
/* HEADER  watch-bundle */
.header .watch-bundle li {
  display: inline-block;
}
/* HEADER  watch */
.header .watch {
  font-size: 1.7em; /* to match image-icon at height 1.75em */ 
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing: 0.075em;  
  border-radius: 0.85em; /* 15px */ 
  padding: 0.5em 1.3em; /* 10px 25px */
  display: inline-block;
  margin: 0.15em auto 0.15em auto;
}
/* HEADER  video icons */
.header .video-icons { /* over-ride over general.css */
  margin-top: 0em;
}
.header .video-icons li { /* over-ride over general.css */
  display: block;
}
/* HEADER MENU */
/* Stretch menu to the width of content-wrap */
.menu {
  display: none; /* used to be 0 */
  width: 18em;
  margin: auto;
}
/* Create a horizontal list with spacing */
.menu > li {
  /*width: 16em;  to show whole caregiver testimonials */
  margin: 0em; /* used to be margin: 1em 0.5em auto 0.5em; */
}
/* Style for main and dropdown menu links */
.menu li a {
  display: block; /* for neater look */
  height: 2.75em;
  line-height: 2.75em;
  font-size: 1.2em; /* to match look of PAGE MENU */
  letter-spacing: 0.05em; /* to match look of PAGE MENU */
}
/* Hide dropdown links until they are needed */
.menu li ul {
  display: none;
  margin-top: -0.75em; /* Move menu dropdown links slightly upwards */
}
/*Make dropdown links vertical*/
.menu li ul li {
  display: block;
}
/* Style for dropdown links */
.menu li:hover ul a {
  font-size: 1em;
  height: 1.5em;
  line-height: 1.5em;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  display: block; /* none */
  margin: 0.5em 0em;  
}
.show-menu i {
  font-size: 1.5em;
    line-height: 1.5em;
}
/* HEADER Responsive Styles*/
@media (min-width: 800px) { 
  .header {
    
  }
}
/* MENU Responsive Styles */
@media screen and (min-width : 1350px){ /* used to be max */
  .header {
    margin: 0.5em auto;
    min-height: 6.5em;
    border:  none;
  } 
  .title {
    float: left;
    padding-left: 3em;
    margin-top: 0.5em;
  }
  .second {
    float: left;
    padding-left: 2em;
    margin-top: 0.5em;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: none; /* used to be display: block */
  }
  /*Make dropdown links appear inline*/
  .menu {
    display: block; /* has to say BLOCK to show itself */
    width: 43em;
  }
  .menu {
    float: right;
    margin-top: 1.5em;
    padding-right: 1em;
  }
  .menu > li {  
    display: inline-block;
    margin: 0em 0.65em 0em 0.65em;
    font-size: 0.9em;
  }
  .menu li ul { 
    margin-bottom: 0.5em;
  }
}






/* PAGE MENU */
.page-menu li {
  margin: 0.5em auto 0.5em auto;
}
/* Hide dropdown links until they are needed */
.page-menu li ul {
  display: none;
}
/* Style for main and dropdown menu links */
.page-menu li a {
  display: block; /* for neater look */
  height: 1.75em;
  line-height: 1.75em;
  font-size: 1.2em; /* to match look of PAGE MENU */
  letter-spacing: 0.05em; /* to match look of PAGE MENU */
}
/* Style for only dropdown links */
.page-menu li:hover ul a {  
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1em; 
  margin-top: -0.5em; /* Move menu dropdown links slightly upwards */
}
/*Display the dropdown on hover*/
.page-menu ul li a:hover + .hidden, .hidden:hover {
  display: block; /* to actually show it*/
}
@media (min-width: 920px) {
  /* Style for only main links */
  .page-menu > ul > li {
    display: inline-block;
    margin: 1em 0.5em;
  }
}
@media (min-width: 1155px) { /* center 1,2,3 */
  .page-menu > ul > li {
    margin: 1em 1.5em;
  }  
}





/* IMDB ICON */
.IMDb-icon img {
  height: 0.9em; /* to center with .click-icon's */
  margin-top: 0.05em; /* to center with .click-icon's */
  opacity: 1.0; 
}
.IMDb-icon img:hover {
  opacity: 0.8;
}


/* VIDEO ICONS */
.video-icons {
  margin-top: 0.5em;
}
.video-icons li {
  display: inline-block;
  line-height: 1.4em;
}
.image-icon {
  height: 1.65em;
}
@media (min-width: 400px) {
  .image-icon {
    height: 2em; 
  }
  .header .image-icon {
    height: 1.65em; 
  }
}







/* Go-To-The-Top Button */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 0.5em;
  display: none;
}
.go-top i {
  font-size: 3em;
}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}























