/* TABLE OF CONTENTS
**************************************************************************/
/*** ALL PAGES, ALL SCREEN SIZES

/*** GENERAL
  /* Apply a natural box layout model to all elements
  /* Fix the clearing of floats on child elements
  /* FONTS
  /* ALL TITLES
  /* OTHER GENERAL .content-wrap, .section-title
  /* COLOURS
  /* LINK COLOURS

/* HEADER + MENU 
  /* .header-div
    /* .header
      /* .title
        /* .smaller-font
      /* .second
        /* .watch-bundle
          /* .watch
            /* .button
      /* .third
        /* .show-menu
          /* .fa fa-bars
        /* .menu

/* LANDING PICTURE BACKGROUNDS 
  /* .landing-div
    /* .landing-image

/* PICTURE BACKGROUNDS
  /* .picture-1-div
    /* .picture-1-image

/* FULL FILM 
    /* .full-film
      /* .watch-film-p
      /* .buy-icons
        /* .buy-movie-buttons
      /* .donate-p
      /* .donate-buttons
          /* .button
            /* .paypal-image
            /* .paypal-text
 
/* TRAILER + REVIEWS, OUTTAKES, PANEL
  /*.trailer
    /* .videos
      /* .videos-and-text
        /* .video-itself
          /* .trailer-frame
        /* .video-description
    /* .section-title
    /* .reviews
      /* .in-line
        /* reviews-image
        /* star-icon
          /* small-font

/* MOVIE CLIPS
    /* .movie-clips

/* SOUNDRTRACK
    /* .soundtrack
      /* .soundtrack-image
      /* .buy-soundtrack-buttons
        /* .short-link

/* INTERVIEW WITH TEACE
    /* .interview
      /* .interview-image

/* POSTER
    /* .poster
      /* .poster-image

/* PRESS KIT
    /* .press-kit
      /* .short-p
        /* .fa fa-download

/* FOOTER
  /* .footer-div
    /* .footer
      /* .social-media-icons
        /* .click-icon
          /* .fa fa-xxx
      /* .bigger

/* STICKY GO TO THE TOP BUTTON
  /* .go-top
    /* .fa fa-arrow-circle-up

/* MAIL CHIMP

/* END TABLE OF CONTENTS
**************************************************************************/





/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}
/* Fix the clearing of floats on child elements */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* FONTS */
@font-face {
    font-family: KozGoPro-ExtraLight;
    src: url("../fonts/kozuka_gothic_pro_el/KozGoPro-ExtraLight.otf");
}
body {
	font-family: KozGoPro-ExtraLight;
	text-align: center;
}


/* ALL TITLES */
h1 {
  font-size: 1.9em;
  line-height: 1.9em;
  margin-top: 1em;
}
h3 {
  margin: 1.9em auto 0em auto;
  font-size: 1.1em;
  line-height: 1.1em;
  max-width: 75%;
}
@media (min-width: 493px) {
  h3 {
    font-size: 1.4em;
    line-height: 1.4em;
  } 
}


/* OTHER GENERAL */
.content-wrap { 
  margin: 0;
  border: none;
}
.section-title {
  margin-bottom: 0.75em;
}


/* COLOURS */
body, .content-wrap {
  background-color: #E6D2B0; /* mid wheat colour */
  color:            #140A0D; /* hair colour */
}
.header-div, .footer-div, .footer {
  background-color: #140A0D; /* hair colour */
  border: 1px solid #140A0D; /* hair colour */
  color:            #FFF3DF; /* 2nd wheat colour */  
}


/* LINKS COLOURS */

/* links in header and footer */
.header-div a, .footer-div a, .fa-bars {
  color:            #FFF3DF; /* 2nd wheat colour */
}
.header-div a:hover , .footer-div a:hover, .fa-bars:hover {
  color:            #C3A97C ; /* 4th hair colour */
}

/* links in body and content-wrap */
a, .short-p a {
  color:            #140A0D; /* hair colour */
  text-decoration: none;
}
a:hover, .short-p a:hover {
  color:            #A38552 ; /* 5th hair colour */
}


/* banner button links */
.buy-movie-buttons a {
  color:            #2b2225; /* dark brown */
  border: solid 5px #2b2225; /* dark brown */
}
.buy-movie-buttons a:hover {
  color:            #af9f92; /* light brown */
  border: solid 5px #af9f92; /* light brown */
}

/* soundtrack button links */
.buy-soundtrack-buttons a {
  color:            #785996; /* dark purple */
  border: solid 5px #785996; /* dark purple */
}
.buy-soundtrack-buttons a:hover {
  color:            #AB8CC9; /* light purple */
  border: solid 5px #AB8CC9; /* light purple */
}

/* donate button links */
.button {
  color:            #DBC9BF; /* pinkish */
  background-color: #785996; /* dark purple */
  box-shadow: 0 6px #A38552; /* dark brown */
}
.button:hover {
  color:            #FFF3DE; /* light yellow */
  background-color: #AB8CC9; /* light purple */
  box-shadow: 0 6px #C3A97C; /* light brown */
}
.button:active {
  color:            #FFF3DE; /* light yellow */
  background-color: #785996; /* dark purple */
  box-shadow: 0 2px #A38552; /* dark brown */
  transform: translateY(4px);
}
.button a, .watch .button a {
  color:            #DBC9BF; /* pinkish */
}
.button a:hover, .watch .button a:hover {
  color:            #FFF3DE; /* light yellow */
}


/*** HEADER
********************************/
.smaller-font {
  font-size: 0.7em;
  line-height: 3.64em;
}
/* HEADER  li's */
.header > li {
  display: block;  
}
/* HEADER  title */
.header .title a {  
  font-size: 2.3em;
  line-height: 2.3em;
  letter-spacing: 0.05em; 
}
/* HEADER  watch now donate */
.header .watch {
  font-size: 1.7em; /* to match image-icon at height 1.75em */ 
  line-height: 1.4em;
  margin: 0.15em auto 0.15em auto;
}
/* HEADER MENU */
/* Stretch menu to the width of content-wrap */
.menu {
  display: none; /* used to be 0 */
  width: 18em;
  margin: auto;
}
/* Create a horizontal list with spacing */
.menu > li {
  /*width: 16em;  to show whole caregiver testimonials */
  margin: 0em; /* used to be margin: 1em 0.5em auto 0.5em; */
}
/* Style for main and dropdown menu links */
.menu li a {
  display: block; /* for neater look */
  height: 2.75em;
  line-height: 2.75em;
  font-size: 1.2em; /* to match look of PAGE MENU */
  letter-spacing: 0.05em; /* to match look of PAGE MENU */
}
/* Hide dropdown links until they are needed */
.menu li ul {
  display: none;
  margin-top: -0.75em; /* Move menu dropdown links slightly upwards */
}
/*Make dropdown links vertical*/
.menu li ul li {
  display: block;
}
/* Style for dropdown links */
.menu li:hover ul a {
  font-size: 1em;
  height: 1.5em;
  line-height: 1.5em;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  display: block; /* none */
  margin: 0.5em 0em;  
}
.show-menu i {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* HEADER & HEADER MENU Responsive Styles */
@media screen and (min-width : 952px){ /* used to be 1350px */
  .header {
    margin: 0.5em auto;
    min-height: 6.5em;
    border:  none;
  } 
  .header .title {
    float: left;
    padding-left: 3em;  
  }
  .second {
    float: left;
    padding-left: 2em;
    margin-top: 0.5em;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: none; /* used to be display: block */
  }
  /*Make dropdown links appear inline*/
  .menu {
    display: block; /* has to say BLOCK to show itself */
    width: 30em;
  }
  .menu {
    float: right;
    margin-top: 1.5em;
    padding-right: 1em;
  }
  .menu > li {  
    display: inline-block;
    margin: 0em 0.65em 0em 0.65em;
    font-size: 0.9em;
  }
  .menu li ul { 
    margin-bottom: 0.5em;
  }
}


/* LANDING PICTURE BACKGROUNDS */
/***********************************/
.landing-image {
  width: 100%;
}
@media (min-width: 700px) {
  .landing-image {
    visibility: hidden;
  }
  .landing-div {
    background: url("../images/hold-me-banner-laurels.jpg") no-repeat fixed;
    background-size: cover; 
    background-position: center; 
    height: 32.5em;
  }
}
@media (min-width: 952px) {
  .landing-div {
    background: url("../images/hold-me-banner-laurels.jpg") no-repeat fixed;
    background-size: cover; 
    background-position: center; 
    height: 38.2em;
  }
}
@media (min-width: 1100px) {
  .landing-div { /* picture background */
    background: url("../images/hold-me-banner-laurels.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center; 
    height: 45em;
  }
}

/* PICTURE BACKGROUNDS */
/***********************************/
.picture-1-image,
.picture-2-image,
.picture-3-image,
.picture-4-image,
.picture-5-image,
.picture-6-image,
.picture-7-image,
.picture-8-image,
.picture-9-image {
  width: 100%;
}
@media (min-width: 600px) {
  .picture-1-image,
  .picture-2-image,
  .picture-3-image,
  .picture-4-image,
  .picture-5-image,
  .picture-6-image,
  .picture-7-image,
  .picture-8-image,
  .picture-9-image {
    visibility: hidden;
  }
  .picture-1-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-1.png") no-repeat fixed;    
  }
  .picture-2-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-2.png") no-repeat fixed;
  }
  .picture-3-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-3.png") no-repeat fixed;
  }
  .picture-4-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-4.png") no-repeat fixed;
  }
  .picture-5-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-5.png") no-repeat fixed;
  }
  .picture-6-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-6.png") no-repeat fixed;
  }
  .picture-7-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-7.png") no-repeat fixed;
  }
  .picture-8-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-8.png") no-repeat fixed;
  }
  .picture-9-div {
    background: url("../images/Hold-Me-2016-press-kit/Hold-Me-Film-Pic-9.png") no-repeat fixed;
  }
  .picture-1-div,
  .picture-2-div,
  .picture-3-div,
  .picture-4-div,
  .picture-5-div,
  .picture-6-div,
  .picture-7-div,
  .picture-8-div,
  .picture-9-div {
    background-size: cover;
    background-position: center;
    height: 20em;
  }
  .picture-9-div img { /* to make footer go to the bottom of the page */
    height: 10em;
  }
}
@media (min-width: 1100px) {
  .picture-1-div,
  .picture-2-div,
  .picture-3-div,
  .picture-4-div,
  .picture-5-div,
  .picture-6-div,
  .picture-7-div,
  .picture-8-div,
  .picture-9-div {
    height: 30em;
  }
}


/*** FULL FILM ***/
/********************************/
.full-film {
  margin-bottom: 3em;
}
.watch-film-p {
  font-size: 1.15em;
}
.donate-p {
  font-size: 2em;
  margin-top: 1em;
}

.buy-icons {
  margin-top: 0em;  
}
@media (min-width: 920px) {
  .buy-icons {
    margin-top: 0em;   
  }  
}

.buy-movie-buttons {
  margin: 0em auto 0em auto;
}
.buy-movie-buttons a {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing: 0.075em;  
  border-radius: 0.85em; /* 15px */ 
  padding: 0.5em 1.3em; /* 10px 25px */
  display: inline-block;
  margin: 0.15em auto 0.15em auto;
  width: 16em;
}
.buy-movie-buttons .fr a:hover {
  background: url("../images/banner-french.jpg");
  background-size: 101%;
  height: 9em;
}
.buy-movie-buttons .sp a:hover {
  background: url("../images/banner-spanish.jpg");
  background-size: 101%;
  height: 9em;
}
.buy-movie-buttons .gr a:hover {
  background: url("../images/banner-german.jpg");
  background-size: 101%;
  height: 9em;
}
.buy-movie-buttons .jp a:hover {
  background: url("../images/banner-japanese.jpg");
  background-size: 101%;
  height: 9em;
}

@media (min-width: 400px) {
  .buy-movie-buttons li {
    display: inline-block;
  }
}

.donate-buttons button {
  margin: 0.25em 0;
}
.donate-buttons li:first-child {
  margin: 0.5em 0;
}
.donate-buttons img {
  height: 3em;
  margin: 1em 0 0 0;
}

/* DONATE BUTTON */
.button {
  display: inline-block;
  padding: 15px 25px;
  margin: -3em 0 0.5em 0; /*** landing screen mobile higher ***/
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
}
@media screen and (min-width : 952px){
  .button {
    display: inline-block;
    padding: 15px 25px;
    margin: 0.25em 0 0.5em 0; /*** landing screen mobile higher ***/
  }
}
.paypal-text {
  position: relative;
  margin: -1.5em 0 0 0;
  width: 3.4em;
  z-index: 1;
}
.paypal-image {
  position: relative;
  width: 80px;
  height: 30px;
  z-index: 3;
}


/* TRAILER + REVIEWS, OUTTAKES, PANEL
********************************/
.videos {
  width: 90%;
  margin: 0 auto 3em auto;
}
.video-and-text {
  margin: 0 auto; 
}
.video-itself li {
  max-width: 30em; 
  margin: 0 auto;
}
.video-description li {
  max-width: 30em; 
  margin: 0 auto;
  margin: 0.5em auto 0em auto;
}
.video-description li:first-child {
  margin: 0.75em auto 0em auto;
}
.video-itself img {
  width: 100%;
  margin-top: 1em; 
}
@media (min-width: 1150px) {
  .video-and-text li {
    display: inline-block;
  }
  .video-description li {
      display: block;
  }
  .video-description li:first-child {
    margin: 1.2em auto 0em auto;
  }
}
/* VIDEO h3 */
.videos > h3 {
  margin-top: 4em;  
}
.videos > h3:first-child {
  margin-top: 0em;
}
.video-description h3 {
  margin: 0em auto;
  font-size: 1em;
  line-height: 1.2em;
}
@media (min-width: 493px) {
  .video-description h3 {
    font-size: 1.2em;
  } 
}
.video-description p {
  margin: 0.5em auto 0.5em auto;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}
@media (min-width: 1150px) {
  .video-description p {
    display: inline-block;
    margin: 0.5em auto 0.5em 1.5em;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
  }
}
/*** TRAILER FRAME ***/
iframe {
  border-radius: 10px;
}
.trailer-frame {
  min-height: 19em;
  max-width: 30em;
  width: 95%;
  margin: 0.5em auto 0em auto;
}
@media (min-width: 900px) {
  .trailer-frame {
    width: 30em;    
  }
}
@media (min-width: 1150px) {
  .trailer .trailer-frame {  
    margin-top: 5em;
  } 
}
@media (min-width: 920px) {
  .in-line > li {
    display: inline-block;
  }
}


/*** REVIEWS ***/
.reviews  {
  font-weight: bold;
  margin-bottom: 3em;
}
.reviews > ul > li > ul > li {
  height: 2em;
  line-height: 2em;
}
.reviews > ul > li > ul > li:first-child {
  height: 3.5em;
  line-height: 3.5em;
  margin: 1.5em 0 0 0;
}
@media (min-width: 920px) {
  .reviews > ul > li > ul > li {
    margin: 0 0 0 1.5em;
  }
  .reviews > ul > li > ul > li:first-child {
    margin: 0 0 0 1.5em;
  }
}
.reviews-image {
  border-radius: 10px;
  width: 7em;
}
.reviews-image:hover {
  opacity: 0.6; 
}
.star-icon {
  width: 1.5em;
  margin-top: 0.2em;
}
.small-font {
  font-size: 0.65em;
  line-height: 3.4em;
}
.quote-line {
  font-style: italic;
  font-weight: initial;
  margin-top: -0.5em;
}


/*** MOVIE CLIPS
********************************/
.movie-clips {
  margin-bottom: 3em;
}
.movie-clips > ul > li {
}
@media (min-width: 920px) { /* see 1,2,3 */
  .movie-clips > ul > li {
    max-width: 30%;
  }
}
.movie-clips .video-itself iframe {
  max-width: 90%;
  margin: 0.25em 0;
}


/*** SOUNDTRACK
********************************/
.soundtrack {
  margin-bottom: 3em;
}
.soundtrack-image {
  height: 20em;
  margin-left: 0em; /* to compensate missing space */
  margin-bottom: 0em; /* for space under the image */
}
.soundtrack .buy-soundtrack-buttons li {
  height: 2.2em;
  display: block;
  line-height: 2.2em;
  margin: 0.75em 0;
  padding: 0em;
}
.buy-soundtrack-buttons a {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.075em;
  border-radius: 0.85em; /* 15px */ 
  padding: 0em 1.5em; /* 10px 25px */
}
@media (min-width: 450px) { /* see 1,2,3 */
  .soundtrack-image {
    height: 28em;
  }
}
@media (min-width: 920px) { /* see 1,2,3 */
  .soundtrack-image {
    margin-bottom: 4em;
  }
  .soundtrack .buy-soundtrack-buttons li {
    margin: 0.75em 7em 0.75em 0;
  }
  .buy-soundtrack-buttons {
    margin-left: 7em;
    margin-top: -4em;
  }
}
#short-link a {
  padding: 0 0.45em 0 0.65em;
}
@media (min-width: 400px) {
  #short-link a {
    padding: 0em 1.5em;
  }
}


/* INTERVIEW
********************************/
.interview  {
  margin-bottom: 3em;
}
.interview-image img {
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2em;
}
.interview-image img:hover {
  opacity: 0.7; 
}


/* POSTER
********************************/
.poster {
  width: 75%;
  max-width: 25em;
  margin: 2em auto 3em auto;
}
.poster-image {
    width: 100%;
}
.media-room .poster {
  max-width: 20em;
}


/*** PRESS KIT
********************************/
.press-kit {
  font-style: italic;
  margin-bottom: 3em;
}
.press-kit img {
  width: 5em;
  margin: 0 auto;
  border-radius: 10px;
}
.press-kit img:hover {
  opacity: 0.8;
  margin: 0 auto;
}
.fa-download {
  margin: 0.5em 0 0 0.25em;
}
.press-kit #short-p {
  width: 250px;
  margin: 0.5em auto 0 auto;
}


/* FOOTER */
.footer {
  line-height: 1em;
  letter-spacing: 0.055em;
}
.social-media-icons {
  margin-top: 1em;
  font-size: 2em;
}
.social-media-icons li {  
  display: inline-block; 
  margin: auto 0.05em auto 0.05em;
}
.footer-menu li {
  display: inline-block; 
  margin: 1em 1.6em; 
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
.footer p {
  margin-top: 0.8em;
  font-size: 0.4em;
}
.footer .bigger {
  margin-top: 1em;
  font-size: 0.65em;
}
@media (min-width: 400px) {
  .social-media-icons li {
    margin: auto 0.38em auto 0.38em;
  }
  .footer-menu li { 
    margin-top: 1.8em;
    font-size: 1.3em;
  }
  .footer .bigger {
    font-size: 0.7em;
  }
  .footer p {
    margin-top: 1.3em;
  }
  .footer {
    margin: 1.5em auto 1.5em auto;
  }
}
/* IMDB ICON */
.IMDb-icon img {
  height: 0.9em; /* to center with .click-icon's */
  margin-top: 0.05em; /* to center with .click-icon's */
  opacity: 1.0; 
}
.IMDb-icon img:hover {
  opacity: 0.8;
}
.click-icon { /* social media icons left to trailer */
  line-height: 1em; /* to size it to max of the "a" */
}


/* Go-To-The-Top Button
********************************/
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 0.35em 0.5em;
  display: none;
  border-radius: 35px;
}
.go-top i {
  font-size: 3em;
}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


/* MAIL CHIMP */
#mc_embed_signup {
  clear: left;
  font-family: KozGoPro-ExtraLight, sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  color: #DBC9BF; /* #DBC9BF pinkish */
  width: 90%;
  margin: 0 auto;
}







@media (max-width: 319px) { /* no mobile phone has less than 320px */
  body {
    border: 1px solid orange;
  }
} /* end @media (max-width: 319px) */