/* TABLE OF CONTENTS
**************************************************************************/
/*** ALL PAGES
(watch.html, testimonials.html, press-release.html,
behind-the-scenes.html, cast.html, contact.html)
  /* General
  /* Header
  /* Footer

/*** ALL PROJECT PAGES
  /* Cover-small, Cover-large & Buy-now
  /* Go-To-The-Top Button

/*** SOME PROJECT PAGES
  /* Share Icons (6 PROJECT PAGES)
  /* Shorts (5 PROJECT PAGES except playreality.html)
     /* shorts - excerpts
  /* Colours (5 PROJECT PAGES except collection.html)
     /* background-color
     /* text & links - white
     /* TEACE.ca
  /* Summary (3 PROJECT PAGES)
  /* Watch (2 PROJECT PAGES)

/*** INDEX.HTML ONLY
  /* Menu (index.html)
  /* Scroll Pane (index.html)
     /* general
     /* inner
     /* image transition

/* END TABLE OF CONTENTS
**************************************************************************/



/*** ALL PAGES, ALL SCREEN SIZES
**************************************************************************/

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}
/* Fixes the clearing of floats on child elements */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* FONTS */
@font-face {
    font-family: KozGoPro-ExtraLight;
    src: url("../fonts/kozuka_gothic_pro_el/KozGoPro-ExtraLight.otf");
}
body {
	font-family: KozGoPro-ExtraLight;
	color: #DBC9BF;
	text-align: center;
}

/* ALL LINKS */
a {
	color:#DBC9BF;
	text-decoration: none;
}
a:hover {
	color: #8E8683;
}
.buy-movie-buttons a {
	color: #6496c8; /* #6496c8 */
	border: solid 5px #6496c8; /* 5px #6496c8 */
}
.buy-movie-buttons a:hover {
	color: #a2c0de; /* #6496c8 */
	border: solid 5px #a2c0de; /* 5px #6496c8 */
}
.buy-soundtrack-buttons a {
	color: #6496c8; /* #6496c8 */
	border: solid 5px #6496c8; /* 5px #6496c8 */
}
.buy-soundtrack-buttons a:hover {
	color: #a2c0de; /* #6496c8 */
	border: solid 5px #a2c0de; /* 5px #6496c8 */
}

/* OTHER GENERAL */
body { /* picture background */
	background: url("../images/hold-me-poster-clean.jpg") no-repeat fixed;
    background-size: cover;
}
.content-wrap { /* grey background */
	margin: 5%;
	background: rgba(0, 0, 0, 0.7); /* grey */
	border: 1px solid #171819;
}
@media (min-width: 1155px) { /* center 1,2,3 */
	.content-wrap { /* grey background */
		margin-top: 1em;
		margin-bottom: 2.5em;
	}
}


/* FOOTER */
.footer {
	line-height: 1em;
	letter-spacing: 0.055em;
}
.social-media-icons {
	margin-top: 1em;
	font-size: 2em;
}
.social-media-icons li {	
    display: inline-block; 
    margin: auto 0.05em auto 0.05em;
}
.footer-menu li {
    display: inline-block; 
    margin: 1em auto 1em auto;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
.footer-menu li:first-child {
	margin-right: 1.75em;
}
.footer p {
  margin-top: 0.8em;
  font-size: 0.4em;
}
.footer .bigger {
	margin-top: 1em;
	font-size: 0.65em;
}
@media (min-width: 400px) {
	.social-media-icons li {
   		margin: auto 0.38em auto 0.38em;
	}
	.footer-menu li { 
	    margin: 2em 2.44em 1em 2.44em;
	    font-size: 1.3em;
	}
	.footer .bigger {
		font-size: 0.75em;
	}
	.footer p {
	  margin-top: 1.3em;
	}
	.footer {
		margin: 1.5em auto 1.5em auto;
	}
}



/*** WATCH.html, ALL SCREEN SIZES
**************************************************************************/

/* HOLD ME TITLE */
.title { 
	margin: 0.5em auto 0.5em auto;
}
.title p { 	
	font-size: 2.3em;
	line-height: 1.8em;
	letter-spacing: 0.05em;		
}
@media (min-width: 900px) {
	.title {
		margin-top: 2em;
	}
	.title p {
		font-size: 2.7em;
	} 
}
@media (min-width: 1155px) { /* see 1,2,3 */
	.title {
		margin-top: 2em;
	}
}

/* WATCH SECTION */
.watch-section > li { /* all "li"s with this parent */
	display: block;
}
@media (min-width: 900px) {
	.watch-section > li { /* all "li"s with this parent */
		display: inline-block;
	}
	.social-icons { /* center 1,2 */
		width: 4em;	
		margin-top: 4em;	
	}
}
@media (min-width: 925px) { /* center 1,2 */
	.buy-icons {
		margin-top: 1.25em;		
	}  
}
@media (min-width: 1155px) { /* center 1,2,3 */
	.social-icons {
		width: 17em;	
	}
	.buy-icons {
		width: 17em;	
	}  
}

/* SOCIAL MEDIA ICONS */
.social-icons > li {
	display: inline-block;
	font-size: 1.5em;
	line-height: 0.8em;
	margin: 0.25em 0.25em 0.25em 0.25em;	
}
@media (min-width: 900px) {
	.social-icons > li {
		display: block;
		text-align: right;
		font-size: 1.8em;
		line-height: 1em;
		margin: 1em 0.25em 1em auto;
	}  
}
.click-icon {
	line-height: 1em; /* to size it to max of the "a" */
}
.IMDb-icon {
	height: 1em; /* to size it to max of the "a" */
}

/* TRAILER */
.trailer-frame {
	min-height: 19em;
	max-width: 30em;
	width: 95%;
	margin: 0.5em auto 0em auto;
}
@media (min-width: 900px) {
	.trailer-frame {
		width: 30em;		
	} 
}

/* VIDEO ICONS */
.video-icons {
	margin-top: 0.5em;
}
.video-icons li {
	display: inline-block;
	list-style: none;
	line-height: 1.4em;
}
.image-icon {
	height: 1.65em;
}
@media (min-width: 400px) {
  .image-icon {
  	height: 2.1em; 
  }
}

/* BUY MOVIE BUTTONS */
.buy-icons {
	margin-top: 1.25em;		
}

.buy-movie-buttons {
	max-width: 17em;
	margin: 0em auto 0em auto;
}
.buy-movie-buttons a {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	letter-spacing: 0.075em;	
	border-radius: 0.85em; /* 15px */	
    padding: 0.5em 1.3em; /* 10px 25px */
    display: inline-block;
    margin: 0.15em auto 0.15em auto;
}
.buy-movie-buttons-english { 
    font-size: 1.55em; 
}
@media (min-width: 400px) {
	.buy-movie-buttons li {
		display: inline-block;
    }
}

/* BUY SOUNDTRACK BUTTONS */
.buy-soundtrack-buttons {	
	margin-top: 1.5em;
}
.buy-soundtrack-buttons li {
	display: inline;
	height: 4.2em;
	line-height: 4.2em;

}
.buy-soundtrack-buttons a {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.075em;
	border-radius: 0.85em; /* 15px */	
    padding: 0.5em 1.3em; /* 10px 25px */
}
.soundtrack-image {
	height: 4em;
}

/* LAURELS */
.laurels {
	margin-top: 0.5em;
}
.laurel-image {
	width: 45%;
	max-width: 10em;
}
@media (min-width: 925px) { /* see 1,2,3 */
	.laurels {
		width:50%;
		margin: 0em auto 1em 7em;
	}
}
@media (min-width: 1155px) { /* see 1,2,3 */
	.laurels {
		width:50%;
		margin: 0em auto 1em auto;
	}
}


/* PAGE MENU */
.page-menu {
	margin: 0.5em auto 0.5em auto;
}
.page-menu li {
	list-style: none;
	margin: 0.5em auto 0.5em auto;
	line-height: 1.6em;
}
.page-menu li a {
	font-size: 1.2em;
	letter-spacing: 0.05em;
}
@media (min-width: 920px) {
	.page-menu {
		margin: 1.5em auto 1.5em auto;
	}
	.page-menu li {
		display: inline;
		margin: 1.5em 0.75em 1.5em 0.75em;
	}
}
@media (min-width: 1155px) { /* center 1,2,3 */
	.page-menu li {
		display: inline;
		margin: 1.5em 3em 1.5em 3em;
	}  
}

/* ABOUT */
.about {
	width: 90%;
	margin: 0 auto;
}
.about p {
	margin: 0.5em auto 0.5em auto;
	line-height: 1.4em;
	letter-spacing: 0.01em;
}
.about a {	
	font-style: italic;
	letter-spacing: 0.14em;
}
@media (min-width: 493px) {
	.about p {
		max-width: 25em;
		line-height: 1.5em;
		font-size: 1.2em;
		margin: 1.5em auto 1.5em auto;
	}	
}
@media (min-width: 620px) {
	.about p {
	}
}
@media (min-width: 920px) {
	.about p {
		margin: 2.5em auto 2.5em auto;
		line-height: 1.6em;
		font-size: 1.2em;
		max-width: 28em;
	}
}

/* POSTER */
.poster {
	width: 75%;
	max-width: 25em;
	margin: 2em auto 2em auto;
}
.poster-image {
    width: 100%;
}











h2 {  /* Section titles */
	font-size: 1em;
	letter-spacing: 4px;
	margin:0 auto 0 auto;
	text-transform:uppercase;
}

/* WORLD PREMIERE */
.premiere {	
	width: 65%;
	margin: 2em auto 3em auto;
}
.premiere p {
	margin-top: -0.05em;
}

/* ONLINE RELEASE */
.coming h2 {
	margin-top: 2em;
	margin-bottom: 3em;
}

/* MEDIA ROOM */
.media-room .poster {
	width: 33%;
	margin: 0 auto;
	margin-top: 4em;
	padding-bottom: 2em;
}
.media-room .poster-image {
    width: 100%;
}
.media-room .cast-image {
    width: 80%;
}
.media-room h1 {
	font-size: 1.9em;
}
.media-room h2 {
	font-size: 1em;
}
.media-room h3 {
	margin-top: 1.9em;
}
.media-room h5 {
	font-size: 1em;	
}
.media-room .second-h5 {
	margin-top: -1.5em;
}
.media-room p {
	width: 60%;
	margin: 1.2em auto 0 auto;
    text-align: left;
}
.media-room p { /* fixes too thin font in Safari */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.3px white;
}
.tg {
	width: 80%;
	margin: 0 auto;
}
.tg h4 {
    margin-top: 2em;
}
.cast-image {
	max-width: 200px;
}

.contacts p {
	margin-top: 0em;
}
.email-image {
	width: 40%;
	min-width: 200px;
	margin-left: 2em;
}
/* Go-To-The-Top Button */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 0.5em;
  display: none;
}
.go-top i {
  font-size: 3em;
}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}



