/* TABLE OF CONTENTS
**************************************************************************/
/*** WATCH.html, ALL SCREEN SIZES
  /* HOLD ME TITLE
  /* WATCH SECTION TOP
    /* SOCIAL-ICONS (FIRST li)      (ul)
    /* TRAILER-FRAME (SECOND li)    (ul li content)
    /* VIDEO-ICONS (SECOND li)      (ul li ul)
    /* BUY-MOVIE-BUTTONS (THIRD li) (ul li)    
  /* WATCH SECTION BOTTOM
    /* BUY-SOUNDTRACK-BUTTONS
    /* LAURELS
  /* PAGE MENU 
  /* ABOUT
  /* POSTER
/* END TABLE OF CONTENTS
**************************************************************************/

/* TABLE OF RESIZING
**************************************************************************/

/* END TABLE OF RESIZING
**************************************************************************/


@media (max-width: 319px) { /* no mobile phone has less than 320px */
  body {
    border: 1px solid orange;
  }
} /* end @media (max-width: 319px) */


/* MEDIA ROOM TITLES */
.media-room h1 { /* Hold Me title */
  font-size: 1.9em;
  margin-top: 1em;
}
.media-room h2 { /* Press Release title */
  font-size: 1.3em;
  margin-top: 0.25em;
}
.media-room h3 { /* logline etc. subsection titles */
  margin-top: 1.9em;
}
.media-room h4 { /* download */
  font-size: 0.9em;
  margin-top: 0.25em; 
}
.media-room h5 { /* download with images */
  font-size: 0.5em; 
  margin-top: 0.25em;
  margin-bottom: 2em;
}
.media-room p {
  text-align: left;
}
.fa-download {
  margin-top: 0.5em;
}
@media (min-width: 493px) {
  .about h3 {
    font-size: 1.4em;
  } 
}


/* MEDIA ROOM POSTER */
.media-room .poster {
  width: 75%;
  max-width: 20em;
  margin: 0 auto;
  margin-top: 2em;
  padding-bottom: 1em;
}
.media-room .poster-image {
    width: 100%;
}

/* MEDIA ROOM FILM STILLS & CAST */
.tg {
  width: 80%;
  margin: 0 auto;
}
.cast-image {
    width: 90%;
    max-width: 30em;
}
/* MEDIA ROOM FILM STILLS */
.film-stills .tg-yw4l {
    margin: 1em auto 0em auto;
    display: block;
    width: 90%;
}
@media (min-width: 1150px) {
  .film-stills .tr li  { /* CAST IMAGES name */
      display: inline-block;
      width: 33%;
  }
}
/* MEDIA ROOM CAST IMAGES */
.cast .tg-yw4l { /* CAST IMAGES name & pic block */
  margin: 1em auto 0em auto;
  display: block;
  width: 90%; 
}
.cast h4 { /* CAST IMAGES name */
  font-size: 1em;
  max-width: 10em;
  margin: 1em auto 0em auto;
}
@media (min-width: 1150px) {
  .cast .tr li  { /* CAST IMAGES name */
      display: inline-block;
      width: 33%;
  }
}

/* MEDIA ROOM CONTACTS */
.contacts {
  margin-bottom: 1em;
}
.contacts p {
  margin: 0.5em auto 0em auto;
  line-height: 1em;
}
.email-image {
  width: 50%;
  min-width: 200px;
  margin-left: 2em;
}

