

/* Paragraphs */
.media-room p { /* taken in the same form from press-release-page.css so I don't have to load the press-release-page.css */
  text-align: left;
}
@media (min-width: 920px) { /* same as testimonials-page.css, making this smaller compared to general.css */
  .about p {
    margin: 1.5em auto 1.5em auto;
    font-size: 1.2em;
    line-height: 1.5em;    
    max-width: 25em;
  } 
}



/* POSTER in this case the map, copied from watch-page.css */
.poster {
  width: 75%;
  max-width: 25em;
  margin: 2em auto 2em auto;
}
.poster-image {
    width: 100%;
}



/* watch HOLD-ME-BANNER image button */
.banner-button {
  max-width: 10em;
  opacity: 1.0; 
}
.banner-button img:hover {
  opacity: 0.7; 
}



/* INSTRUCTIONS paragraph */
.widget-image { 
  max-height: 1.5em;
}
.widget-number { 
  max-height: 1.5em;
}



/* SPEAKPIPE */
.speakpipe {
  margin: 0 auto 1em auto;
  max-width: 30em;
  
}


/* Record "title" */
.about .para-title { 
  font-size: 1.2em; /* 1em in .about p in general.css */
}
@media (min-width: 493px) { 
  .about .para-title {
    margin: 1em auto 1em auto; /* 1.5em auto 1.5em auto in general.css */
    font-size: 1.5em; /* 1.2em in general.css */
    line-height: 1.5em;    
    max-width: 20em; /* 25em in general.css */
  } 
}


/* Record instructions paragraphs */
.small-gaps p {
  margin: 0.3em auto 0.3em auto;
  line-height: 1.5em; 
}
.small-gaps p:first-child {
  margin: 1.3em auto 0.3em auto;
}


/* CONTENT WRAPS */
.content-wrap-middle { 
  margin: 5%;  
  padding: 3em 0 1em 0;
  /*background: rgba(24, 14, 12, 0.7);  #180E0C more brown */
  background: rgba(45,27, 22, 0.65);
  border: 0px solid #171819;
}
.content-wrap-inner { 
  margin: 5%;
  padding: 1em 0 3em 0;
  background: rgba(45,27, 22, 1);  /* #2D1B16 */
  border: 0px solid #171819;
}
@media (min-width: 920px) { 
  .content-wrap-middle {
    margin: 5% auto 5% auto;  
    max-width: 75%;
  } 
  .content-wrap-inner {
    margin: 5% auto 5% auto;  
    max-width: 75%;
  }
}
