/* TABLE OF CONTENTS
**************************************************************************/
/*** WATCH.html, ALL SCREEN SIZES
  /* HOLD ME TITLE
  /* WATCH SECTION TOP
    /* SOCIAL-ICONS (FIRST li)      (ul)
    /* TRAILER-FRAME (SECOND li)    (ul li content)    
    /* BUY-MOVIE-BUTTONS (THIRD li) (ul li)    
  /* WATCH SECTION BOTTOM
    /* BUY-SOUNDTRACK-BUTTONS
    /* LAURELS
  /* POSTER
/* END TABLE OF CONTENTS
**************************************************************************/

/* TABLE OF RESIZING
**************************************************************************/
/*** WATCH.html, ALL SCREEN SIZES
  /* HOLD ME TITLE            900px
  /* WATCH SECTION TOP        900px
    /* SOCIAL-ICONS           900px
    /* TRAILER-FRAME          900px
    /* BUY-MOVIE-BUTTONS      400px, 920px
  /* WATCH SECTION BOTTOM     920px
    /* BUY-SOUNDTRACK-BUTTONS 920px
    /* LAURELS                920px
  /* POSTER                   x
/* END TABLE OF RESIZING
**************************************************************************/

/*** WATCH.html, ALL SCREEN SIZES
**************************************************************************/

/* HOLD ME TITLE */
.title {
  margin: 0.5em auto 0.5em auto;
}
.title p {  
  font-size: 2.3em;
  line-height: 1.8em;
  letter-spacing: 0.05em;   
}
@media (min-width: 900px) {
  .title {
    margin-top: 2em;
  }
  .title p {
    font-size: 2.7em;
  } 
}
@media screen and (min-width : 1340px){ /* used to be max */   
  .title {
    float: none;  /* over ride .header .title from general .css */
  }
}

/* WATCH SECTION */
.watch-section {
}
.watch-section > li { /* all "li"s with this parent aka three sections */
  display: block;
}
@media (min-width: 900px) {
  .watch-section > li { /* all "li"s with this parent aka three sections */
    display: inline-block;
  }
  .social-icons { /* center 1,2 */
    width: 4em; 
    margin-top: 4em;  
  }
}

/* SOCIAL MEDIA ICONS */
.social-icons > li {
  display: inline-block;
  font-size: 1.5em;
  line-height: 0.8em;
  margin: 0.25em 0.25em 0.25em 0.25em;  
}
@media (min-width: 900px) {
  .social-icons > li {
    display: block;
    text-align: right;
    font-size: 1.8em;
    line-height: 1em;
    margin: 1em 0.25em 1em auto;
  } 
}
.click-icon {
  line-height: 1em; /* to size it to max of the "a" */
}
.IMDb-icon img {
  height: 0.9em; /* to center with .click-icon's */
  margin-top: 0.05em; /* to center with .click-icon's */
  opacity: 1.0; 
}
.IMDb-icon img:hover {
  opacity: 0.8;
}

/* TRAILER */
.trailer-frame {
  min-height: 19em;
  max-width: 30em;
  width: 95%;
  margin: 0.5em auto 0em auto;
}
@media (min-width: 900px) {
  .trailer-frame {
    width: 30em;    
  } 
}


/* BUY MOVIE BUTTONS */
.buy-icons {
  margin-top: 1.25em;     
}
@media (min-width: 920px) {
  .buy-icons {
    margin-top: 2.5em;   
  }  
}
.buy-movie-buttons {
  max-width: 17em;
  margin: 0em auto 0em auto;
}
.buy-movie-buttons a {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing: 0.075em;  
  border-radius: 0.85em; /* 15px */ 
  padding: 0.5em 1.3em; /* 10px 25px */
  display: inline-block;
  margin: 0.15em auto 0.15em auto;
}
.buy-movie-buttons-english { 
    font-size: 1.55em; 
}
@media (min-width: 400px) {
  .buy-movie-buttons li {
    display: inline-block;
  }
}

/* WATCH-BOTTOM */
.watch-bottom {
  margin: 0.5em auto 1em auto;
}
/* BUY SOUNDTRACK BUTTONS */
.buy-soundtrack-buttons li {
  display: block;
  line-height: 4em;
}
.buy-soundtrack-buttons a {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.075em;
  border-radius: 0.85em; /* 15px */ 
  padding: 0.5em 1.3em; /* 10px 25px */
}
.soundtrack-image {
  height: 9em;
  margin-left: -0.2em; /* to compensate missing space */
  margin-bottom: 0.2em; /* for space under the image */
}
/* LAURELS */
.laurel-image {
  width: 45%;
  max-width: 10em;
}
@media (min-width: 920px) { /* see 1,2,3 */
  .watch-bottom > li {
    display: inline-block;
  }
  .laurels {
    margin-left: 7em;
  }
  .laurel-image {
    width: 10em;
  }
  .buy-soundtrack-buttons {
    margin-left: 7em;
    margin-top: -4em;
  }
}

/* POSTER */
.poster {
  width: 75%;
  max-width: 25em;
  margin: 2em auto 2em auto;
}
.poster-image {
    width: 100%;
}


